.background{
    background-color: #D2ADAD;
    background-size: large;
    height: 350px;
    width: 100%;
}
.background .display-4 {
    margin-top: 30px;
}

.background p {
    font-size: 23px;
}

.background hr {
    border-color: black;
    width: 400px;
    border-width: 3px;
}

